/* Navigation bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding:0px 7px;
}

/* Home section*/
#home{
    height:370px;
    padding: 63px 116px;
}


#home::before{
    height:470px
}
#home p{
    font-size: 13px;
}
/* service section  */
#service{
    flex-direction: column;
}
#service {
    margin: 7px;
    display: flex;
}

/* client section  */
#client{
    flex-wrap: wrap;
}
#client img{
    width:60px;
    padding:-30px;
}
.client-item {
    padding: 9px;
}

/* footer */

/* Utility Classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size:10px;
    padding:4px 8px;
}